
<%= form_for [@location, @event] do |f| %>
  <p>
    <%= f.label :name %>
    <br><%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :capacity %>
    <br><%= f.text_field :capacity %>
  </p>

  <p>
    <%= f.label :date %>
    <br><%= f.text_field :date %>
  </p>

  <p>
    <br><%= f.submit %>
  </p>

<% end %>
